<p style="color: green"><%= notice %></p>

<%= render @plate %>

<div>
  <%= link_to "Edit this plate", edit_plate_path(@plate) %> |
  <%= link_to "Back to plates", plates_path %>

  <%= button_to "Destroy this plate", @plate, method: :delete %>
</div>
